.alert, .notice {
  display: none;
}
#logo-home {
  max-width: 500px;
}
::-webkit-input-placeholder {
  font-weight: 300;
}
// .banner-content {
//   display: inline-block;
// }
.director img {
  width: 40px;
  margin-top: 5px;
}
.be-inspired {
  color: white;
  p {
    margin-top: 70px;
    margin-bottom: 3px;
  }
  &:hover {
    text-decoration: none;
    color: white;
    opacity: 0.3;
  }
}

@media screen and (max-width: 760px) {
  #logo-home {
    width: 300px;
  }
}
