.alert, .notice {
  display: none;
}
#logo-home {
  max-width: 500px;
}
::-webkit-input-placeholder {
  font-weight: 300;
}
.banner-home {
  position: relative;
  background-attachment: fixed;
  background-image: linear-gradient(-225deg, rgba(29,0,16,0.6) 0%, rgba(14,15,15,0.6) 20%), url("https://images.unsplash.com/photo-1485518994577-6cd6324ade8f?auto=format&fit=crop&w=944&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
}
.be-inspired {
  color: white;
  p {
    margin-top: 70px;
    margin-bottom: 3px;
  }
  &:hover {
    text-decoration: none;
    color: white;
    opacity: 0.3;
  }
}
.normal-search {
  cursor: pointer;
  font-weight: lighter;
  text-decoration: underline;
  color: #7F7F7F;
  margin-bottom: 30px;
  &:hover {
    color: #BFBFBF;
  }
}

@media screen and (max-width: 880px) {
  #logo-home {
    width: 300px;
  }
}
.wrapper-home {
  height: 100vh;
}
.title-home {
  padding: 30px auto;
  margin: 0;
  margin-bottom: 20px;
  color: $gray;
  font-size: 27px;
  font-weight: lighter;
  text-transform: uppercase;
  span {
    background-color: $red;
    padding: 5px 10px;
  }
}


// Algolia playground:

.aa-input-container {
  display: inline-block;
  position: relative; }
.aa-input-search {
  color: black;
  width: 300px;
  border: 1px solid rgba(228, 228, 228, 0.6);
  padding: 12px 28px 12px 12px;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  .aa-input-search::-webkit-search-decoration, .aa-input-search::-webkit-search-cancel-button, .aa-input-search::-webkit-search-results-button, .aa-input-search::-webkit-search-results-decoration {
    display: none; }
.aa-input-icon {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #e4e4e4; }
.aa-dropdown-menu {
  color: black;
  background-color: white;
  border: 1px solid rgba(228, 228, 228, 0.6);
  min-width: 300px;
  margin-top: 10px;
  box-sizing: border-box; }
.aa-suggestion {
  padding: 12px;
  cursor: pointer;
}
.aa-suggestion + .aa-suggestion {
    border-top: 1px solid rgba(228, 228, 228, 0.6);
}
  .aa-suggestion:hover, .aa-suggestion.aa-cursor {
    background-color: rgba(241, 241, 241, 0.35); }

