<div class="wrapper wrapper-booking">
  <div class="container">
    <div class="booking-text text-center" style='background-image: linear-gradient(-225deg, rgba(29,0,16,0.6) 0%, rgba(14,15,15,0.6) 20%), url("https://images.unsplash.com/photo-1485518994577-6cd6324ade8f?auto=format&fit=crop&w=944&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D"); background-size: cover;'>
      <div class="text-booking">
        <h1>CONGRATULATIONS!</h1>
        <h1>You are going to <span> <%= @booking.event.name %> </span></h1>
      </div>
    </div>
  </div>
</div>
