<h1>Hello <%= current_user.first_name %></h1>
<div class="content">

  <div class="booked-section">
    Your booked events:

    <div class="card-booked">
      <% @bookings.each do |booking| %>
      <div>
        <%= booking.event.date %>
        <%= booking.event.name %>
        <%= link_to 'Details', event_path(booking.event) %>
        status paid - to be paid
      </div>
      <% end %>
    </div>
  </div>

  <div id="map">Map</div>
</div>

<!-- javascript -->
<script>
  function initMap() {
        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 52.5206, lng: 13.4098},
          scrollwheel: false,
          zoom: 8
        });
      }
    </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Gmaps JavaScript -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiK1cPDZngWI88d3s_FjxN4r18yzp5-v4&callback=initMap">
  </script>
