<div class="wrapper wrapper-session">
  <div class="container redirect">

         <%= simple_form_for [@event, @booking] do |f| %>
         <!-- number of persons and other stuff -->

         <input type="image" src="https://cdn.codemyui.com/wp-content/plugins/a3-lazy-load/assets/css/loading.gif" alt="Submit Form" id="loading-button"/>
         <p>Proceeding to payment...</p>
         <% end %>
   </div>
 </div>

<script>
setTimeout(function() {
  document.getElementById("loading-button").click();
}, 2000);

</script>
