<div class="wrapper wrapper-booking">
  <div class="container">
    <div class="booking-text text-center" >
      <div class="text-booking">
        <h1>CONGRATULATIONS!</h1>
        <h1>You are going to <span> <%= @booking.event.name %> </span></h1>
      </div>
    </div>
  </div>
</div>
