<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>

  </div>
  <div class="footer-copyright">
    Made with <i class="fa fa-heart"></i> by four Le Wagon superheroes
  </div>
    <%= image_tag "apollo_logo_fascia-02.png", class: "small" %>

</div>
