.venues {
  background-color: grey;
  padding: 5px;
}

.events {
  padding: 5px;

}

.dashboard {
  width: 700px;
  margin: 30px auto;
  background-color: white;
  border-radius: 3px;
  box-shadow: 3px 3px 6px grey;
  padding: 10px;
}
