// Import page-specific CSS files here.
@import "show";
@import "hostdashboard";

.wrapper-search {
  display: flex;
  position: relative;
}
.container-search {
  padding: 0;
}

#map-search {
  position: sticky !important;
  flex: 0 0 32%;
  height: 100vh;
  top: 0 !important;
  right: 0 !important;
}
#price-slider {
  span {
    background-color: $red;
    &:focus {
      outline-style: none;
      border: 0;
    }
  }
}

@media screen and (max-width: 1065px) {
  .wrapper-search {
    display: block;
  }
  #map-search {
    flex: 0;
    position: absolute;
  }
}

// for the pagination

.flickr_pagination {
  padding: 30px !important;
  text-align: center;
  padding: 0.3em;
  cursor: default;
  background-color: white; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em; }
  .flickr_pagination .disabled {
    color: gray; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: $red;
    background-color: $light-gray}
  .flickr_pagination a {
    color: $red;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: $red;
      background: $red;
      color: white; }
  .flickr_pagination .page_info {
    color: $gray;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }
