.wrapper-search {
  display: flex;
  position: relative;
}
.container-search {
  padding: 0;
}

#map-search {
  position: sticky !important;
  flex: 0 0 450px;
  height: 100vh;
  top: 0 !important;
  right: 0 !important;
}

// #map {
//   position: sticky !important;
//   flex: 0 0 450px;
//   height: calc(100vh - 70px);
//   top: 0 !important;
//   right: 0 !important;
// }
