.image-event {
  min-height: 400px;
  height: 100%;
  background-position:  center;
}
.header-event {
  position: absolute;
  text-transform: uppercase;
  color: #1C1C1C;
  left: -70px;
  width: 100%;
  top: 200px;

  h1 {
    position: relative;
    margin: 0;
    text-align: left;
    font-size: 50px;
    span {
      padding: 5px 15px;
      background-color: $red;
    }
  }
  .date-event {
    position: relative;
    font-weight: bolder;
    left: 90px;
    font-size: 24px;
  }
  .event-category {
    position: relative;
    color: white;
    font-weight: bolder;
    margin-top: 20px;
    left: 90px;
    span {
      background-color: #1C1C1C;
      padding: 5px 10px;
    }
  }
}
.container-margin-top {
  margin-top: 5em;
}
.event-desc {
  h4 {
    padding-bottom: 10px;
    border-bottom: 0.4px solid $gray;
  }
  max-width: 700px;
}
.price {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid $gray;
  margin-bottom: 15px;
  p {
    margin-bottom: 3px;
  }
}
.flex-desc {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.box-event {
  padding: 15px 20px;
  background-color: white;
  flex: 1;
  margin-left: 50px;
}
.event-input {
  margin: 0;
}
#map {
  margin-top: 50px;
}


@media screen and (max-width: 960px) {
  .header-event {
    position: relative;
    left: 0;
    top: 40px;
  }
}
