.image-event {
  min-height: 400px;
  height: 100%;
  background-position:  center;
}
.header-event {
  position: absolute;
  text-transform: uppercase;
  color: #1C1C1C;
  left: -70px;
  width: 100%;
  top: 200px;

  h1 {
    position: relative;
    margin: 0;
    text-align: left;
    font-size: 50px;
    span {
      padding: 5px 15px;
      background-color: $red;
    }
  }
  .date-event {
    position: relative;
    font-weight: bolder;
    left: 90px;
    font-size: 24px;
  }
  .event-category {
    position: relative;
    color: white;
    font-weight: bolder;
    margin-top: 20px;
    left: 90px;
    span {
      background-color: #1C1C1C;
      padding: 5px 10px;
    }
  }
}
.container-margin-top {
  margin-top: 5em;
}
.event-desc {
  h4 {
    padding-bottom: 10px;
    border-bottom: 0.4px solid $gray;
  }
  max-width: 700px;
}
.price {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid $gray;
  margin-bottom: 15px;
  p {
    margin-bottom: 3px;
  }
}
.flex-desc {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.box-event {
  // padding: 15px 20px;
  background-color: white;
  flex: 1;
  margin-left: 50px;
  // height: 150px;
}
.event-input {
  margin: 0;
  height: 39px;
}
#map {
  margin-top: 30px;
}
.link-back {
  color: $gray;
  text-decoration: none;
  font-size: 22px;
  position: relative;
  top: 20px;
  &:hover{
    color: $gray;
    text-decoration: none;
    background-color: $red;
  }
}
// Julien's adds bellow
.venue-box {
  background-color: white;
  margin: 15px 30px;
}

.venue-box-info {
  border-bottom: 0.5px solid $gray;
  margin-bottom: 15px;
  color: #656262;
  p {
    margin-bottom: 3px;
  }
}

.venue-box a:hover, a:focus {
  text-decoration: none;
}

.box-division {
  background-color: $light-gray;
}

.booking-box {
  margin: 15px 30px;
}

.venue-box-img {
  height: 180px;
  background-size: cover;
  opacity: 0.7;
  filter: grayscale(100%);
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

.title-checkout {
  line-height: 30px;
}

.selector-list {
  width: 60px;
}

.ticket-quantity-selector {
  display: flex;
  justify-content: space-between;
}

.bookmark-container {
  position: relative;
  margin-top: 11px;
}

.bookmark-container a:hover, a:focus {
  text-decoration: none;
}

@media screen and (max-width: 960px) {
  .header-event {
    position: relative;
    left: 0;
    top: 40px;
  }
}

.share-container {
 /* filter: grayscale(100%); */
}

.share-twitter {
  position: absolute;
  top: 0px;
  left: 28px
}

.share-facebook {
  position: absolute !important ;
  top: -5px;
  left: 92px;
}

