.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 55vh;
  background-position: center;
  background-size: cover;
  color: white;
  font-family: "Fira Sans", sans-serif;
  p {
    font-size: 22px;
    font-weight: lighter;
    margin-bottom: 20px;
    opacity: 0.8;
  }
}
