.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-position: center;
  background-size: cover;
  color: white;
  font-family: "Fira Sans", sans-serif;
  position: relative;
  p {
    font-size: 22px;
    font-weight: lighter;
    margin-bottom: 20px;
  }
}
.director {
  position: absolute;
  bottom: 30px;
  right: 0;
  left: 0;
 img {
  width: 40px;
  margin-top: 50px;
}
}
@media screen and (max-width: 768px) {
  .director img {
    margin-top: 0;
  }
  .banner-content p {
    margin-bottom: 0;
  }
}
