.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 62vh;
  background-position: center;
  background-size: cover;
  color: white;
  font-family: "Fira Sans", sans-serif;
  p {
    font-size: 22px;
    font-weight: lighter;
    margin-bottom: 20px;
  }
}
.director img {
  width: 40px;
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  .director img {
    margin-top: 0;
  }
  .banner-content p {
    margin-bottom: 0;
  }
}
