// overwriting the default css settings from fullcalendar - therefore the many importants

#calendar{
  font-family: $body-font;
  font-size: 12px;
  color: $red;
  text-transform: uppercase;
  background-color: white;
  padding: 20px;
}

.fc-today {
  background: $light-gray !important;
}

.fc-button {
  border-radius: 0 !important;
  background-color: $light-gray !important;
  border: none !important;
  font-family: $body-font !important;
  cursor: default !important;
}

.fc-state-default {
  background-image: none !important;
  text-shadow: none !important;
}

.fc-state-hover {
  background-color: $red !important;
  cursor: pointer;
}
.fc-left {
  margin: 0;
  color: $gray;
  font-size: 27px !important;
  font-weight: lighter !important;
  span {
    background-color: $red;
    padding: 5px 10px;
  }
}
