#calendar{
  font-family: $body-font;
  font-size: 16px;
  color: $red;
  background-color: white;
  padding: 20px;
}

.fc-today {
  background: $light-gray !important;
}

.fc-button {
  border-radius: 0 !important;
  background-color: $light-gray !important;
  margin: 0 !important;

}
