.footer {
  background: $gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: #ECE9E9;
  margin-top: 0;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #ECE9E9;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
