.input-form {
  background-color: none;
  border-bottom: 2px solid white;
  display: inline-block;
  border-radius: 0px !important;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid white;
  color: white !important;
  max-width: 300px !important;
  font-size: 26px;
  margin-bottom: 20px;
  margin-top: 15px;
  &:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
.search-form-bar {
  border-radius: 2px;
  padding: 12px 0 14px 0;
  width: 100%;
  margin: 0 auto;
}
input {
  margin: 0 10px;
}
label{
  display: none;
}

@media screen and (max-width: 760px) {
  .input-form {
    width: 250px !important;
  }
}
