.container-moods {
  height: calc(38vh - 115px);
  display: flex;
  justify-content: space-around;
}
.list-moods {
  margin-bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  li {
    background-size: cover;
    cursor: pointer;
    filter: grayscale(100%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 50%;
    min-height: 125px;
    min-width: 125px;
    transition: all 0.3s ease;
    img {
      width: 70px;
    }
    a {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    p {
      display: none;
      margin: 0;
    }
    &:hover {
      filter: none;
      p {
        display: block
      }
      img {
        display: none;
      }
    }
  }
}

#romantic {
  background-image: linear-gradient(-225deg, rgba(29,0,16,0.6) 0%, rgba(14,15,15,0.6) 20%), image_url('romantic.jpg');
  &:hover {
    background-image: linear-gradient(-225deg, rgba(29,0,16,0.6) 0%, rgba(85,6,38,0.6) 20%), image_url('romantic.jpg');
  }
}
#wild {
  background-image: linear-gradient(-225deg, rgba(29,0,16,0.6) 0%, rgba(14,15,15,0.6) 20%), image_url('wild.jpg');
  &:hover {
    background-image: linear-gradient(-225deg, rgba(29,0,16,0.6) 0%, rgba(85,6,38,0.6) 20%), image_url('wild.jpg');
  }
}
#nerdy {
  background-image: linear-gradient(-225deg, rgba(29,0,16,0.6) 0%, rgba(14,15,15,0.6) 20%), image_url('nerdy.jpg');
  &:hover {
    background-image: linear-gradient(-225deg, rgba(29,0,16,0.6) 0%, rgba(85,6,38,0.6) 20%), image_url('nerdy.jpg');
  }
}
#dramatic {
  background-image: linear-gradient(-225deg, rgba(29,0,16,0.6) 0%, rgba(14,15,15,0.6) 20%), image_url('drama.jpg');
  &:hover {
    background-image: linear-gradient(-225deg, rgba(29,0,16,0.6) 0%, rgba(85,6,38,0.6) 20%), image_url('drama.jpg');
  }
}
#glamorous {
  background-image: linear-gradient(-225deg, rgba(29,0,16,0.6) 0%, rgba(14,15,15,0.6) 20%), image_url('glamorous.jpg');
  &:hover {
    background-image: linear-gradient(-225deg, rgba(29,0,16,0.6) 0%, rgba(85,6,38,0.6) 20%), image_url('glamorous.jpg');
  }
}

.flex-list {
  color: white;
  font-weight: bolder;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.title-home {
  padding: 22px 0 0 0;
  margin: 0;
  color: $gray;
  font-size: 24px;
  font-weight: lighter;
  text-transform: uppercase;
  }
