.container-team {
  margin: 80px auto 0 auto;
}
.team-faces {
  position: relative;
}
.team-box-up {
  margin-top: 170px;
}
.team-img {
  width: 170px;
  opacity: 0.7;
  filter: grayscale(100%);
  border-radius: 50%;
}
.team-boxes {
  color: $gray;
  margin: 30px auto 0 auto;
}
.title-team {
  position: absolute;
  margin: 45px auto 70px auto !important;
  left: -75px;
  p {
    font-size: 37px !important;
  }
}
.team-back-box {
  background-image: linear-gradient(-225deg, rgba(29,0,16,0.6) 0%, rgba(14,15,15,0.2) 80%), url("about2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  height: 80vh;
  width: 50vw;
  overflow: hidden;
}
.team-box {
  position: relative;
  margin-bottom: 60px;
  a {
    transition: all 0.3s ease;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1000;
    &:hover {

    }
  }
  h4 {
    display: none;
    position: absolute;
    bottom: -24px;
    right: 0;
    left: 0;
    span {
      padding: 2px 6px;
    }
  }
  p {
    font-size: 16px;
    position: absolute;
    bottom: -55px;
    right: 0;
    left: 0;
    display: none;
  }
  &:hover {
    h4, p {
      display: block;
    }
    span {
      background-color: $red;
    }
    .team-img {
      opacity: 1;
      filter: grayscale(0%);
    }
  }
}
@media screen and (max-width: 960px) {
  .team-back-box {
    display: none;
  }
  .title-team {
    left: 0;
    right: 0;
  }
  .team-box-up {
    margin-top: 30px;
  }
  .team-box-up-media {
    margin-top: 200px;
  }
  .team-box {
    h4 {
      display: block;
      span {
        background-color: $red;
      }
    }
    p {
      display: block;
    }
    .team-img {
      opacity: 1;
      filter: grayscale(0%)
    }
  }
}
