.wrapper-tab {
  min-height: 100vh;
}
.dash-title {
  color: $gray;
  font-size: 60px;
  padding-bottom: 10px;
}
.tabs {
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 5px 5px 5px;
  margin: 0 auto;
  min-width: 300px;
  margin-bottom: 30px;
  .tab-active {
    border-bottom: 2px solid $red;
    flex: 0 0 15%;
    text-align: center;
    padding: 5px 0;
  }
  .tab {
    flex: 0 0 15%;
    text-align: center;
    padding: 5px 0;
  }
  a {
    color: $gray;
    transition: all 0.2s ease;
    &:hover {
      text-decoration: none;
      background-color: $red;
    }
  }
}
.event-list-item {
    // padding-bottom: 18px;
    position: relative;
    border-bottom: 1px solid #E6E6E6;
    padding: 20px 0;
    a {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    &:hover {
      background-color: #F1F2F6;
      h4 {
        span {
          color: $gray;
          text-decoration: none;
          background-color: $red;
        }
      }
    }
  // }
}

.booking-list{
  background-color: white;
  padding: 20px 30px;
  margin: 0 8px;
  h3 {
    padding-left: 0 !important;
  }
}
.info-dash {
  padding: 0 8px;
  margin-left: 0;
  h4 {
    text-transform: uppercase;
    color: $gray;
    span {
      padding: 2px 5px;
    }
  }
}
.action-btns {
  flex: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 90px;
  height: 40px;
  margin-bottom: 12px;
  .bookmark-heart {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
  .bookmark-buy {
    width: 25px;
    height: 25px;
    i {
      font-size: 23px;
      color: #7F7F7F;
    }
  }
}
.detail-info-venue p {
  margin-bottom: 0;
}
.hosting {
    margin-right: 5px;
  }
.align-items-end {
  align-items: flex-end !important;
}
.venue-btn {
  width: 20px;
}












#map-dashboard {
  width: 100%;
  height: 450px;
}

.cal {
  padding-bottom: 100%;
  margin-bottom: -100%;
}
h1{
  margin: 30px;
  span {
    background-color: $red;
    padding: 5px 15px;
    text-align: center;}
  }

  .placeholder{
    background-color: $red;
    width: 100%;
    height: 100%;
  }

  .booked-section {
    margin-top: 20px;
    padding: 15px;
  }

  .list-event-date{
    margin: 0 0 0px;
    background-color: $gray;
    color: white;
    font-weight: bolder;
    max-width: 100%;
  }

  .booking-list{
    background-color: white;
    padding-top: 20px;
    margin-bottom: 40px;
    h3 {
      padding-left: 25px;
    }
  }

  h1 {
    text-align: center
  }

  h3 {
    margin: 0px;
    margin-bottom: 10px;
    padding: 5px;
  }

  .list {
    padding: 5px;

  }

  .link {
    text-decoration: none;
    font-weight: bold;
    color: black
  }

  .link:hover {
    text-decoration: none;
    background-color: #F7F7F7;
    color: black;
  }

