.wrapper-booking {
  height: calc(100vh - 170px);
}
.booking-text {
  span {
    text-transform: uppercase;
    background-color: $red;
    padding: 0 10px;
    color: #1C1C1C;
  }
  color: $gray;
  height: 610px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.pay {
  text-align: right !important;
  font-weight: bold;
  margin-bottom: 2px;
}

.pay-bottom {
  border-bottom: 0.5px solid $gray;
  margin-bottom: 10px;
}

.payment-details {
  text-align: left;
  h4 {
    margin: 0px;
    color: black;
    span {
    padding: 5px 10px;
    background-color: $red;
  }
  }

}



