.wrapper-booking {
  height: calc(100vh - 170px);
}
.booking-text {
  span {
    text-transform: uppercase;
    background-color: $red;
    padding: 0 10px;
    color: #1C1C1C;
  }
  color: white;
  height: 610px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
